@font-face {
    font-family: "True North";
    src: url(fonts/True-North.otf) format("opentype");
}
@font-face {
    font-family: "Quando";
    src: url(fonts/Quando-Regular.ttf) format("truetype");
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Quando;
    display: flex;
    flex-direction: column;
}
.bouton {
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #593500;
    color: #96C11F;
    text-decoration: none;
    font-family: True North;
    font-size: large;
    width: fit-content;
    align-self: center;
}
nav ul li{
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}
h1,
h2 {
    font-family: True North;
    text-decoration: none;
    color: #96C11F;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h1 {
    color: #593500;
    margin: 0;
    font-size: xx-large;
}
h1 img  {
    height: 0.75em;
}
footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #593500;
    color: white;
    padding: 2em 0;
    text-align: center;
    font-size: x-small;
    margin-top: 2em;
}
footer a {
    color: #f39200;
}
.separateur {
    margin: 3em;
    background-color: white;
    height: 2px;
    width: 50%;
}
section {
    padding: 1em;
    display: flex;
    flex-direction: column;
}
article {
    display: inline;
}
p {
    text-justify: inter-word;
}
section h2 {
    margin-bottom: 1em;
}
.txtimg {
    width: 40vw;
    height: 40vw;
    margin: 0.5em;
    background-size: cover;
    background-position: center;
}
.img1 {
    background-image: url(images/image1.jpg);
    float: right;
}
.img2 {
    background-image: url(images/image2.jpg);
    float: left;
}

/* VERSION MOBILE UNIQUEMENT */

@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }
    header {
        background-color: #593500;
        display: flex;
        justify-content: center;
    }
    #indexHeader {
        background-image: url(images/header.jpg);
        background-size: cover;
        background-position: center;
        flex-direction: column;
        text-align: center;
        padding: 1em;
        padding-bottom: 2em;
    }
    #logo {
        height: 15vw;
        margin: 1.5vw 0;
    }
    #titre {
        margin-bottom: 5em;
    }
    .panier {
        font-family: "True North";
        color: white;
        stroke: #593500;
    }
    section .panier:nth-child(2) {
        background-image: url(./images/panier1.jpg);
        background-size: cover;
        background-position: center;
    }
    section .panier:nth-child(3) {
        background-image: url(./images/panier2.jpg);
        background-size: cover;
        background-position: center;
    }
    section .panier:nth-child(4)  {
        background-image: url(./images/panier3.jpg);
        background-size: cover;
        background-position: center;
    }
    section .panier:nth-child(5)  {
        background-image: url(./images/panier4jpg);
        background-size: cover;
        background-position: center;
    }
}